body {
	background-color: #FFE7AD
}

.Intro {
	text-align: center;
	font-family: sans-serif;
	font-style: oblique;
	padding: 10px;
}

.Ivana {
	width: 200px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.About {
	text-align: center;
	font-family: sans-serif;
	padding: 10px;
}

.Ad {
	width: 200px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;

}

.Link {
	text-align: center;
	font-family: sans-serif;
	padding: 10px;
}

.Fav {
	text-align: center;
	font-family: sans-serif;
	padding: 10px;
}

.Melnik {
	width: 200px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.IP {
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	padding: 10px;
}
