body {
	background-color: #FFE7AD
}

.Intro {
	text-align: center;
	font-family: sans-serif;
	font-style: oblique;
	padding: 10px;
}

.Ivana {
	/* padding: 5px;
	width: 150px;
	align-self: center; */
	/* display: center;
  	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
	padding: 10px; */
	width: 200px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.About {
	text-align: center;
	font-family: sans-serif;
	padding: 10px;
}

.Ad {
	/* padding: 5px;
	width: 150px;
	align-self: center; */
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 25%;
	padding: 10px;

}

.Link {
	text-align: center;
	font-family: sans-serif;
	padding: 10px;
}

.Fav {
	text-align: center;
	font-family: sans-serif;
	padding: 10px;
}

.Melnik {
	/* padding: 5px;
	width: 150px;
	align-self: center; */

	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 25%;
    padding: 10px;
}

.IP {
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	padding: 10px;
}
