body {
	background-color: #FFE7AD
}

.Intro {
	text-align: center;
	font-family: sans-serif;
	font-style: oblique;
}

.Ivana {
	/* padding: 5px;
	width: 150px;
	align-self: center; */
	display: flex;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.About {
	text-align: center;
	font-family: sans-serif;
}

.Ad {
	/* padding: 5px;
	width: 150px;
	align-self: center; */
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;

}

.Link {
	text-align: center;
	font-family: sans-serif;
}

.Fav {
	text-align: center;
	font-family: sans-serif;
}

.Melnik {
	/* padding: 5px;
	width: 150px;
	align-self: center; */

	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.IP {
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
}
